<h2>Users Of The Application</h2>
<ol>
Non admin users:
<% @users.each do |user| %>
    <% if user.admin %>
    
    <% else%>

    <li><%= user.username %> | <%= link_to 'Delete',users_path(current_user, user), method: :delete %></li>
    <% end %>
<% end %>
</ol>
<ol>
Admin users:
<% @users.each do |user| %>
    <% if user.admin != current_user %>
    <li><%= user.username %></li>
    
    <% end %>
<% end %>
</ol>

