<h2>Users Of The Application</h2>
<div>
<ol>
Non Admin Users:
<% @users.each do |user| %>
    <% if user.admin %>
    
    <% else%>

    <li><%= user.username %> | <%= link_to 'Delete',user_path(user), method: :delete %></li>
    <% end %>
<% end %>
</ol>
</div>
<hr>
<div>
<ol>
All Users:
<% @users.each do |user| %>
    <% if user.admin != current_user %>
    <li><%= user.username %></li>
    
    <% end %>
<% end %>
</ol>
</div>

<%= link_to 'Back', user_path(current_user) %>



