  <div>
  <label>Rank:</label>
  <%= text_field_tag :rank, @pilot.rank  %><br>
  </div>
  <div>
  <label>Name</label>
  <%= text_field_tag :name, @pilot.name %><br>
  </div>
  <%= submit_tag "Submit" %>