<h2>Add a Pilot</h2>

<ul>
<% flash.each do |type, msg| %>
  <div>
    <li style="color:red;"><%= msg %></li>
  </div>

<% end %>
</ul>


<div>
<%= form_tag @pilot do |f|%>
  <%= render 'form' %>
<% end %>
</div>