<div class='container'>
<h3>Pilot Search Results</h3>  

    <ul>
    <% @results.each do |result| %>  
        <h4><li><%= result.rank%> <%= link_to result.name, pilot_path(current_user, result) %></li><br></h4>  
    <% end %>
    </ul>


    <%= link_to 'Back', user_pilots_path %>
</div>