<!DOCTYPE html>
<html>
<head>
<title>Flight Scheduler</title>
</head>
<body>
<nav>


</nav>
<h1>Welcome to the Flight Scheduler</h1>
<%= button_to "Login", '/login', method: :get%>
<%= link_to "Sign Up", controller: 'users', action: 'new', id: @user  %>
</body>
</html>
