<h1>Authorized Desitinations</h1>
<p><%= link_to 'Add a destination', new_user_destination_path  %></p>

<div>
<ol>
<%= @destinations.each do |destination|%>
<li><%= link_to destination.name %></li>
<% end %>
</ol>
</div>