<div>
<h2>Destination</h2>
<div>
    <h3><%= @destination.name %></h3>
</div>
<div>
Current flights to this destination:
<ul>
<% @destination.flights.each do |flt| %>
<li>Flight Num: <%= link_to flt.flight_number, flight_path(current_user, flt) %></li>

<% end %>
</ul>
</div>
</div>

<%= link_to 'Back', user_destinations_path %>