.container{
    padding: 0;
    margin: 0 20px;
}

li{
    list-style-type: none;
}

.dest_link{
    margin-left: 50px;
}

.options > p {
    font-size: 1.5em;
    margin-left: 20px;
}


.content{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
    
    
}

label {
    width: 150px;
    display: inline-block;
}

.collection{
    padding-left: 100px;
}

.back_link > p {
    font-size: 1.5em;
    margin-left: 20px;
}

.back_link{
   font-size: 1.5em; 
}

.flight_area{
    padding-top: 3.125em;
    
    margin-left: 25px;
}


.app_closing{
    margin-left: 25px;
}

header{
    padding-top: 4.2em;
    display: flex;
}

.search{
    margin-left: 75%;
}


.app_heading{
    
    text-align: center;
    background-color: black;
    color: white;
    height: 1.5em;
    position: fixed;
    width: 100%;
}

.destshow{
    padding-top: 20px;
}

.flightshow{
    padding-top: 40px;
    margin-top: 0;
}

.flightsshow, .users{
    padding-top: 60px;
    margin-top: 0;  
}

.main{
    padding-top: 60px;
    margin-top: 0;   
}


footer{
    text-align: center;
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;
    color: white;   /* Height of the footer */
    background:black;
}

.usershow{
    margin-left: 0;
}

